@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #0e7e12;
  box-sizing: border-box;

}
h1 {
    text-align: center;
    font-size: 100px;
}
.number{
    align-self: center;
}
.card {
 
  text-align: center;
  background-color: white;
  margin: auto;
  width: 250px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 80px;
  border-color: black;
  padding: 20px;
  padding-top: 180px;
  position: relative;
}
.card::before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.card::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
.card.spade::before{
    content: "\2660";
}
.card.spade::after {
    content: "\2660";
    transform: rotate(0.5turn);
}

.card.club::before{
    content: "\2663";
}
.card.club::after {
    content: "\2663";
    transform: rotate(0.5turn);
}
.card.heart::before{
    content: "\2665"; color: red;
}
.card.heart::after{
    content: "\2665"; color: red;
    transform: rotate(0.5turn);
}
.card.diamond::before,
.card.diamond::after {
    content: "\2666"; color: red;
}

